name: CI Pipeline - Java Web App

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del código
      uses: actions/checkout@v3

    # Configuramos el entorno Java (Ejemplo usando Java 11)
    - name: Configurar JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin' 
        cache: maven # Esto acelera futuras ejecuciones

    # Maven compila el código, descarga dependencias y empaqueta el .war
    - name: Compilar y Empaquetar
      run: mvn clean package

    # Ejecución de pruebas unitarias
    - name: Ejecutar pruebas
      run: mvn test
